[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[user]
	name = Ben Newman
	email = ben@quora.com

[commit]
	template = /home/ben/ans/etc/git-commit-template

[core]
	editor = "emacs -nw"

[branch "master"]
    remote = origin
    merge = refs/heads/master
    rebase = true
